<%= stylesheet_link_tag "styl.css" %>
<h1>Editing quiz</h1>

<% form_for(@quiz) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />

    <%= f.text_area :description %>
  </p>
<p>
    <%= f.label :qxml %><br />
    <%= f.text_area :qxml %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @quiz %> |
<%= link_to 'Back', quizzes_path %>
